* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --bright-blue: hsl(220, 98%, 61%);
  --check-bg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

[data-theme="light"] {
  --card-bg: hsl(0, 0%, 98%);
  --line: hsl(236, 33%, 92%);
  --app-bg: hsl(233, 11%, 84%);
  --not-hold: hsl(236, 9%, 61%);
  --cursor-hold: hsl(235, 19%, 35%);
  --text: hsl(235, 19%, 35%);
  --complete: hsl(233, 11%, 84%);
  --circle-color: hsl(233, 11%, 84%);
}

[data-theme="dark"] {
	--card-bg: hsl(235, 24%, 19%);
	--line: hsl(233, 14%, 35%);;
	--app-bg: hsl(235, 21%, 11%);
	--not-hold: hsl(236, 9%, 61%);
	--cursor-hold: hsl(236, 33%, 92%);
	--text: hsl(234, 39%, 85%);
	--complete: hsl(234, 11%, 52%);
	--circle-color: hsl(237, 14%, 26%);
}

a {
	text-decoration: none;
}
a:active, a:focus {
  outline: none;
}

li {
	list-style: none;
}

.sidebar {
	display: flex;
	flex-direction: column;
	position: fixed;
	justify-content: space-between;
	top: 0;
	left: 0;
	width: 10rem;
	height: 100%;
	background: var(--complete);
	z-index: 2000;
	transition: 0.3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
.sidebar::--webkit-scrollbar {
	display: none;
}
.sidebar.hide {
	width: 60px;
}
.sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--check-bg);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--complete);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
.sidebar .brand .bx {
	min-width: 3rem;
	display: flex;
	justify-content: center;
}
.sidebar .side-menu {
	width: 100%;
	margin-top: 2rem;
}
.sidebar .side-menu li {
	background: transparent;
	margin-left: 0.3rem;
	border-radius: 2rem 0 0 2rem;
	padding: 0.3rem;
}
.sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
.sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
.sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
.sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
.sidebar .side-menu.top li.active a {
	color: var(--blue);
}
.sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
.sidebar .side-menu li a.logout {
	color: var(--red);
}
.sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
.sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}

.close {
  position: absolute;
  top: 1rem;
  left: 12rem;
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 3rem;
    padding: 0;
  }
	.sidebar .side-menu span {
		display: none;
	}
  .sidebar .side-menu a {
		display: flex;
    justify-content: center;
    align-items: center;
	}
}