.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    height: 100%;
    padding: 0.3rem;
    background-color: var(--line);
    z-index: 100;
  }
  .sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 0.3rem;
    list-style: none;
  }
  .sidebar li {
    width: 100%;
    border-radius: 1rem;
  }
  .sidebar a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2rem;
    padding: 0.5rem;
    gap: 0.5rem;
    color: var(--text);
    text-decoration: none;
  }
  .sidebar li:hover{
    background-color: var(--circle-color);
    transition: 0.2s;
  }
  