:root {
  --card-height: 430px;
  --card-width: 400px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 32px;
    width: var(--card-width);
    height: var(--card-height);
    background: #fff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(56, 69, 76, 0.1);

    .form-title {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      padding-bottom: 0.5em;
      width: 350px;
      font-size: 1em;
      font-weight: bold;
    }

    .input-login-form {
      width: 100%;
      text-align: left;
    }

    .form-inline {
      display: flex;
      justify-content: center;
      width: 100%;
      border-radius: 0.25em;

      .ant-form-item {
        width: 100%;
      }

      .ant-input-lg {
        border-radius: 0.25em;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 0 2.5em;
        width: 100%;
        border-radius: 0.25em;
      }
    }

    .end-line {
      padding-bottom: 0.5em;
    }

    .ant-divider.ant-divider-horizontal {
      margin: 0;
    }
  }

  .card::before {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;

    margin: 0 auto;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    filter: blur(calc(var(--card-height) / 5));
    background-image: linear-gradient(0deg, #5ecbf2 30%, #57be93 60%, #7286c0 30%);
    opacity: 0.5;
    transition: opacity 0.2s;
    z-index: -1;
  }

  .img-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 0.5em;
    width: 100%;
    height: 64px;
    image-rendering: -webkit-optimize-contrast;

    .title-text {
      color: #777;
      font-size: 2em;
      font-weight: bold;
    }
  }
}

@media only screen and (min-width: 500px) {
  .login-container {
    .login-form-container {
      width: 550px;
    }
  }
}

.button-group {
  .ant-btn {
    margin: 0 0.4em;
  }
}