.login-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgb(163, 163, 163), rgb(143, 139, 177), rgb(103, 94, 184));
  width: 60vw;
  height: 100vh;
  background-image: url("/login.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  transition: all 0.7s ease;
}

.login-right-side {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 3em;
  width:40vw;
  height: 100vh;
  background-color: var(--bg-right-side);
  color: white;

  .login-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 80%;

    .login-mode {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
      width: 100%;
      background: transparent;
      border: 2px solid white;
      border-radius: 2em;
      text-align: center;
      transition: all 1s ease;

      div {
        padding: 0.5em 1em;
        width: 50%;
        border-radius: 2em;
        cursor: pointer;

        p {
          position: relative;
          z-index: 2;
        }

        .delayed {
          color: black;
          transition: 0.5s;
        }
      }

      .selected {
        transition-delay: 3s;
        animation-delay: 3s;
        transition: all 1s ease;

        &:hover ~ .mode-bg {
          background-color: var(--button-hover);
          transition: all 1s ease;
        }
      }

      .mode-bg {
        position: absolute;
        padding: 1em 1em;
        height: calc(100% - 1em);
        background-color: white;
        border-radius: 2em;
        transition: all 1s ease;

        &.slide-right {
          transform: translateX(calc(100% - 1em));
          transition: all 1s ease;
        }

        &:hover {
          background-color: var(--button-hover);
          transition: all 1s ease;
        }
      }
    }
  }

  .login-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    .login-email {
      display: flex;
      flex-direction: column;
      max-height: 8em;
      transform: scale(1);
      transition: all 0.7s ease;
      opacity: 1;
      overflow: hidden;
  
      &.hidden {
        max-height: 0;
        transform: scale(0.5);
        opacity: 0;
        transition: all 0.7s ease;
      }
    }

    label {
      margin-bottom: 0.2em;
    }

    .password-container {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 2em;

      input {
        width: 100%;
        margin-bottom: 0;
      }

      .anticon {
        position: absolute;
        margin-right: 1.2em;
      }
    }

    input {
      margin-bottom: 2em;
      padding: 0.7em 1.2em;
      height: 2.8em;
      background: transparent;
      border: 1px solid white;
      border-radius: 2em;
      font-size: 1rem;
      color: white;

      &:focus {
        outline-width: 0;
      }
    }

    .login-remember {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      width: 100%;
      transition: all 0.7s ease;

      &.hidden {
        max-height: 0;
        transform: scale(1);
        opacity: 0;
        transition: all 0.7s ease;
      }

      .login-checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
          margin: 0 0.5em 0 0;
          height: 2em;
        }
      }
    }
  }

  .buffer {
    // height: 1em;
    transition: all 1s ease;
  }

  .login-box {
    width: 100%;
    transition: all 1s ease;

    button {
      padding: 0.7em 1.2em;
      width: 100%;
      background-color: white;
      border: none;
      border-radius: 2em;
      font-size: 1em;
      font-weight: 500;
      transition: all 1s ease;
      cursor: pointer;

      &:hover {
        margin-top: 0;
        background-color: var(--button-hover);
        transition: all 1s ease;
      }
    }
  }
  
  .login-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-height: 7em;
    transform: scale(1);
    transition: all 0.7s ease;
    opacity: 1;
    overflow: hidden;

    .login-choices {
      display: flex;
      flex-direction: row;
      gap: 1.5em;

      img {
        width: 2em;
        height: 2em;
      }
    }
  }

  .hidden {
    max-height: 0;
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.7s ease;
  }
}