.login-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  // background-image: url("/royal.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 60%;
}

.login-left-side {
  height: 100%;
  background: #333;
}

.login-right-side {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em 3em;
  width:40vw;
  height: 100%;
  background-color: var(--bg-right-side);
  color: white;
  backdrop-filter: blur(10px);
  overflow-x: auto;

  .login-box {
    width: 100%;
    transition: all 1s ease;

    button {
      padding: 0.7em 1.2em;
      width: 100%;
      background-color: white;
      border: none;
      border-radius: 2em;
      font-size: 1em;
      font-weight: 500;
      transition: all 1s ease;
      cursor: pointer;

      &:hover {
        margin-top: 0;
        background-color: var(--button-hover);
        transition: all 1s ease;
      }
    }
  }
  
  .login-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
    width: 100%;
    max-height: 7em;
    transform: scale(1);
    transition: all 0.7s ease;
    opacity: 1;

    .login-choices {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1.5em;
      width: 100%;

      .login-choices-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.6em;
        height: 2.6em;
        background-color: white;
        border-radius: 2.6em;
        cursor: pointer;

        img {
          width: 90%;
          height: 90%;

          &#apple {
            padding: 0.2em;
            width: 85%;
            transform: translateY(-3%);
          }
        }
      }
    }
  }

  .hidden {
    max-height: 0;
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.7s ease;
  }
}

.login-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;

  .login-mode {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    width: 100%;
    background: transparent;
    border: 2px solid white;
    border-radius: 2em;
    text-align: center;
    transition: all 1s ease;

    div {
      padding: 0.5em 1em;
      width: 50%;
      border-radius: 2em;
      cursor: pointer;

      p {
        position: relative;
        z-index: 2;
      }

      .delayed {
        color: black;
        transition: 0.5s;
      }
    }

    .selected {
      transition: all 0.7s ease;
      color: black;

      &:hover ~ .mode-bg {
        background-color: var(--button-hover);
        transition: all 0.7s ease;
      }
    }

    .mode-bg {
      position: absolute;
      padding: 1em 1em;
      width: calc(50% - 0.5em);
      height: calc(100% - 1em);
      background-color: white;
      border-radius: 2em;
      transition: all 0.7s ease;

      &.slide-right {
        transform: translateX(100%);
        transition: all 0.7s ease;
      }

      &:hover {
        background-color: var(--button-hover);
        transition: all 0.7s ease;
      }
    }
  }
}


.login-input {
  display: flex;
  flex-direction: column;
  width: 100%;

  .login-username {
    display: flex;
    flex-direction: column;
    max-height: 8em;
    transform: scale(1);
    transition: all 0.7s ease;
    opacity: 1;
    overflow: hidden;

    &.hidden {
      max-height: 0;
      transform: scale(0.5);
      opacity: 0;
      transition: all 0.7s ease;
    }
  }

  .password-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2em;
  }

  .login-remember {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    width: 100%;
    transition: all 0.7s ease;

    &.hidden {
      max-height: 0;
      transform: scale(1);
      opacity: 0;
      transition: all 0.7s ease;
    }

    .login-checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;

      input[type="checkbox"] {
        margin: 0 0.5em 0 0;
        width: 1.2em;
        height: 1.2em;
        border-radius: 1.2em;
      }
    }
  }

  #forgot-password {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.buffer {
  // height: 1em;
  transition: all 1s ease;
}

.ant-modal-content, .ant-modal-header {
  background-color: var(--card-bg) !important;
  color: var(--text-primary) !important;
} 

@media only screen and (max-width: 820px) {
  .login-right-side {
    width: 50vw;
  }
}

@media only screen and (max-width: 720px) {
  .login-right-side {
    padding: 2em 2em;
    width: 60vw;
  }
}

@media only screen and (max-width: 540px) {
  .login-right-side {
    width: 100vw;

    .login-remember {
      font-size: 0.9em;
    }
  }
}
